mixin card(props)
  - var resume = props.info
  - var sources = props.files
  - var backside = props.backside

  //- Лицевая сторона визитки
  ARTICLE.card
    .card__frontside(class=`${backside ? 'card__frontside_none': ''} card__frontside_animation_rotate`)
      +b.avatar
        +e.photo(src=sources.avatar)
      +b.P.about-msg= resume.short
      +b.SECTION.person
        +e.H1.name= `${resume.firstname} ${resume.lastname}`
        +e.P.profession= resume.profession
      +b.UL.contact-list
        +e.LI.item
          +b.contact
            +e.A.link(href=resume.location.link title='Фактический адрес в 2gis' target='_blank')= resume.location.name
        +e.LI.item
          +b.contact
            +e.A.link(href=resume.github.link title='Мои репозитори на github' target='_blank')= resume.github.name
        +e.LI.item
          +b.contact
            +e.A.link(href=resume.telegramm.link title='Пишите мне в телеграм' target='_blank')= resume.telegramm.name
        +e.LI.item
          +b.contact
            +e.A.link(href='copy/' title='Звонить с 9:00 до 21:00 GMT+7')= resume.phone
        +e.LI.item
          +b.contact
            +e.A.link(href='copy/' title='Периодически проверяю ;)')= resume.email
      +b.UL.lang-list
        each lang in resume.language
          case lang
            when 'RU'
              +e.LI.language(title='Читаю документацию на русском')= lang
            when 'EN'
              +e.LI.language(title='Читаю документацию на английском')= lang
            default
              +e.LI.language(title='Читаю документацию на этом языке')= lang
      +b.flip-field(title='Потяните, чтобы перевернуть визитку')
      +b.drag-field(title='Потяните, чтобы переместить визитку')

    //- Задняя сторона визитки
    .card__backside(class=`${!backside ? 'card__backside_none': ''} card__backside_animation_rotate`)
      //- Профессиональные навыки
      +b.SECTION.skills
        +e.H2.title= 'Навыки:'
        +b.UL.skill-list
          each skill in resume.skills
            +e.LI.skill= skill
      //- Технологии
      +b.SECTION.techs
        +e.H2.title= 'Технологии:'
        +b.UL.tech-list
          each tech in resume.techs
            +e.LI.tech(title=`${tech.desc ? tech.desc : ''}${tech.v ? ' / Версия: '+tech.v : ''}`)= tech.name
      +b.flip-field(title='Потяните, чтобы перевернуть визитку')
      +b.drag-field(title='Потяните, чтобы переместить визитку')
